@tailwind base;
@tailwind components;
@tailwind utilities;


p, input, textarea {
  font-family: "Open Sans Variable", "sans-serif";
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}


 h1,h2,h3,h4,h5,h6,span {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem ;
}


@layer base {
  a {
    color: white;
  }
  body {
    background-color: #fbf8d2;
  }
}

@layer utilities {
  .text-gradient-old {
    background-clip: text;
  /*   -webkit-text-fill-color: transparent; */
  }
}


/* ~~~~ Custom CSS - I know it's bad T_T ~~~~ */

/* Stop page  side scrolling on mobile */
html,
body {
  overflow-x: hidden;
}

/* Mobile Nav */
.pb-3 {padding-bottom: 0.75rem; display: flex; flex-direction: column; align-items: center;}

/* Footer background colour */
.footer.max-w-7xl.mx-auto.p-20.mt-10.rounded-xl {background: linear-gradient(90deg, #796a99, #554970);}

/* mobile dropdown background */
.md\:hidden {background-color: #fbf8d2; border-radius: 0px 0px 10px 10px;}

/* blog read more arrows */
.w-3\.5 {padding-left: 5px;}

/* 404 page */ 
.\34 04-p {display: flex; flex-direction: column; align-items: center; padding: 40px 0px;}


/* TO BE MOVED */

.experienceCard {
  min-height: 300px;
  background-size: cover;
  background-position: center;
}

.bg-colore {
  background-color: #fbf8d2;
}

.airbnb_book {
  background-color: #fc642d;
  color:white;
}

.booking_book {
  background-color: #003b95;
  color:white;
}

.airbnb_book:hover {
  background-color: white;
  color:#fc642d;
}

.booking_book:hover {
  background-color: white;
  color:#003b95;
}
.color-viandante{
  color:#a3ad7b;
}

.logo-section {

  margin-right: 0;
  /* float: right; */
  margin-left: auto;
}

.logo-section.sx {
  
  margin-right: auto;
  /* float: right; */
  margin-left: 0;
}

.drop-shadow {
  filter:drop-shadow(0px 2px 2px black);
}

/* Aggiungi questo CSS al tuo file di stile */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

#headlessui-portal-root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 250px; */
  /* grid h-screen place-items-center" */
}

#headlessui-portal-root > div {
  height: 100vh;
}

.test {
  animation-duration: 300ms !important;
}

.sfondo {
  width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}